PORT=8080
NODE_ENV=development
APPWRITE_ENDPOINT=
APPWRITE_PROJECT_ID=
APPWRITE_API_KEY=
APPWRITE_DATABASE_ID=
APPWRITE_PROFILES_COLLECTION_ID=
APPWRITE_BOOKINGS_COLLECTION_ID=
APPWRITE_AVATARS_BUCKET_ID=
APPWRITE_PORTFOLIO_BUCKET_ID=
JWT_SECRET=
JWT_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:5173
